/* Reset Border Box */
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  margin: 0 0;
  padding: 0 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,h2,h3,h4,p {
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 0 0;
}

h1 {
  font-size: 19px;
}

p {
  font-size: 12px;
}

body {
  margin: 0 0;
  padding: 4.4375rem 1.5rem;
  background-color: hsl(210, 46%, 95%);
}

.content-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 24px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  padding: 25px 31px 2rem 31px ;
  /* margin-bottom: 24px; */
  border-radius: 0.5rem;
}

.testimonial-card > h1 {
  margin-bottom: 25px;
}

.profile {
  display: flex;
  width: 100%;
  height: 1.875rem;
  margin-bottom: 1.375rem;
}

.profile-img {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.profile-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30px;
}

.profile-name {
  font-size: 12px;
}

.profile-title > p {
  font-size: 11px;
  opacity: 0.5;
}

.quote-pattern {
  height: 100px;
  width: auto;
  position: relative;
  top: -25px;
  right: -40px;
}

.above-pattern {
  z-index: 2;
}

/* --- Desktop Media Query --- */
@media only screen and (min-width: 768px) {

  .content-container {
    margin: auto auto;
    width: min-content;
    display: grid;
    grid-template-columns: repeat(4, 15.9375rem);
    grid-template-rows: 266px 266px;
    grid-gap: 1.5rem 1.875rem;
    padding: 164px 165px;

  }

  .quote-pattern {
    height: 100px;
    position: relative;
    top: -25px;
    right: -204px;
  }

  h1 {
    font-size: 19px;
  }
  
  p {
    font-size: 13px;
  }

  .card1 {
    grid-column: 1 / span 2;
  }

  .card3 {
    grid-column: 1;
    grid-row: 2;
  }

  .card4 {
    grid-column: span 2;
    grid-row: 2;
  }

  .card5 {
    grid-column: 4;
    grid-row: 1 / span 2;
  }

}

/* --- Colors --- */

.text-white {
  color: hsl(0, 0%, 100%);
}

.text-grey {
  color: hsl(217, 19%, 35%);
}

.text-white-opacity {
  color: hsla(0, 0%, 100%, 0.5);
}

.text-grey-opacity {
  color: hsla(217, 19%, 35%, 0.7);
}

.white-bg {
  background-color: hsl(0, 0%, 100%);
}

.moderate-violet {
 background-color: hsl(263, 55%, 52%);
}

.dark-grayish-blue {
  background-color: hsl(217, 19%, 35%);
}

.dark-blackish-blue {
  background-color: hsl(219, 29%, 14%);
}